<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rnandroidalarmscheduler">
  <receiver android:name=".AlarmReceiver"
            android:exported="true" />
        <receiver
            android:name=".AlarmReceiverStop"
            android:exported="true" /> 
</manifest>
